#home-welcome-box {
    height: 40vh;
}

#home-welcome-pic {
    height: 100%;
    width: 100%;
}

#search-module {
    height: 40vh;
}

.img-detail {
    height: 30vh;
}

.small-gap{
    margin: 0;
}
